body {
    padding: 25px 0;
    text-align: center;
}

.App {
    width: 100%;
    max-width: 493px;
    margin: 0 auto;
}

.instance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instance +* {
	margin-top: 14px;
}

.instance .instance__time {
    margin: 0;
    font-size: 20px;
}

.instance .instance__timer {
    font-size: 38px;
}

.instance .instance__ctrl {
    display: flex;
    align-items: center;
    width: 22px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.instance .instance__ctrl div {
    display: flex;
}

.instance .instance__ctrl svg {
    width: auto;
    height: 22px;
}

.instances .instances__ctrls {
    margin-bottom: 25px;
    text-align: right;
}

.instances .instances__list {
	display: flex;
	flex-direction: column;
}

.instance:not(.instance--on) form {
    order: -1;
}

.instance:not(.instance--on) input {
    margin: 0 15px 0 0;
}

.instance:not(.instance--on) .instance__ctrl {
    margin-left: 15px;
}

.instance.instance--on {
	order: -1;
    flex-direction: column;
}

.instance.instance--on +* {
	margin-top: 50px;
}

.instance.instance--on .instance__time {
    opacity: .75;
}

.instance.instance--on .instance__time {
    margin-bottom: 25px;
    font-size: 20px;
}

.instance.instance--on .instance__ctrl {
    margin-top: 25px;
}

.instance.instance--on .instance__ctrl+.instance__ctrl {
    display: none;
}

.instance.instance--on .instance__ctrl svg {
    height: 46px;
}