body {
    padding: 25px 0;
    text-align: center;
}

button,a {
    transition: .3s;
}

.App {
    max-width: 463px;
    margin: 0 auto;
}

.instances {
    .instances__ctrls {
        margin-bottom: 25px;
        text-align: right;
    }

    .instances__list {
        display: flex;
        flex-direction: column;
    }
}

.instance  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .instance__time {
        margin: 0;
        font-size: 20px;
    }

    .instance__timer {
        font-size: 38px;
    }

    form {
        position: relative;
    }

    .instance__ctrl {
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;

        svg {
            display: block;
            width: auto;
            height: 22px;
        }

        &:disabled {
            cursor: default;
            opacity: .5;
        }
    }

    .instance__time-input {
        width: 71px;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 18px;
        background: none;
    }

    +* {
        margin-top: 14px;
    }

    &:not(.instance--on) {
        form {
            order: -1;
            flex: 1;
            margin-right: 15px;
        }

        .instance__ctrl {
            margin-left: 11px;
        }
    }

    &.instance--on {
        order: -1;
        flex-direction: column;

        +* {
            margin-top: 50px;
        }

        .instance__time {
            margin-bottom: 25px;
            font-size: 20px;
            opacity: .75;
        }

        .instance__ctrl {
            margin-top: 25px;

            svg {
                height: 46px;
            }

            +.instance__ctrl {
                display: none;
            }
        }

        .ant-input {
            width: 250px;
        }
    }

    &.instance--disabled {
        .instance__time {
            opacity: .5;
        }
    }
}